{
    acme_ca https://acme.zerossl.com/v2/DV90
}

# Main Next.js app
{$DOMAIN}.nip.io {
    tls {
        on_demand
    }
    
    handle /image/* {
        reverse_proxy localhost:8000
    }

    handle /bg/* {
        reverse_proxy localhost:8000
    }
    
    handle {
        reverse_proxy localhost:3000
    }
}

grafana.{$DOMAIN}.nip.io {
    tls {
        on_demand
    }
    reverse_proxy localhost:3001
}

prometheus.{$DOMAIN}.nip.io {
    tls {
        on_demand
    }
    reverse_proxy localhost:9090
}

uptime.{$DOMAIN}.nip.io {
    tls {
        on_demand
    }
    reverse_proxy localhost:3002
}

alertmanager.{$DOMAIN}.nip.io {
    tls {
        on_demand
    }
    reverse_proxy localhost:9093
}

pgadmin.{$DOMAIN}.nip.io {
    tls {
        on_demand
    }
    reverse_proxy localhost:15432
}